/* HSL */
$color1: hsla(34%, 84%, 31%, 1);
$color2: hsla(227%, 15%, 24%, 1);
$color3: hsla(65%, 33%, 45%, 1);
$color4: hsla(13%, 65%, 53%, 1);
$color5: hsla(20%, 15%, 88%, 1);

/* RGB */
$color1: rgba(145, 87, 13, 1);
$color2: rgba(51, 55, 69, 1);
$color3: rgba(147, 154, 77, 1);
$color4: rgba(213, 90, 57, 1);
$color5: rgba(229, 223, 220, 1);

$color-white: $color5;
$color-black: $color2;
$color-green: $color3;
$color-red: $color4;
$color-brown: $color1;