@import url('https://fonts.googleapis.com/css?family=Merriweather|Pacifico');

body {
    // background-color: red;
    font-family: 'Merriweather';
    text-shadow: 0px 1px 1px #cccccc;
}

h1 {
    font-family: 'Pacifico';
    color: $color-white;
    text-shadow: 0px 2px 6px $color-black;
    font-size: 120pt;
    text-align: center;
    margin-top: 10vh;
}

@media screen and (max-width: 940px) {
    h1 {
        font-size: 80pt;
    }
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 60pt;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 40pt;
    }
}

h1 > a {
    color: $color-white;
}